*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.box{
    background-color: #bad7f2;
    border: 1px solid;
    border-radius: 10px;
}
.main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: minmax(200px,auto);
    grid-gap: 10px;
}
.box1{
    grid-row: span 3;
    grid-column: span 1;
}
.box2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.charttitle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.titlenumberlink{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap : 30px;
}
.percentage-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.box4{
    grid-row: span 3;
    grid-column: span 1;
}
.box7{
    grid-column: span 2;
    grid-row: span 2;
}